/*img#nyc{*/
/*    width:900px;*/
/*    height:900px;*/
/*}*/


/*#kid {*/
/*  width:200px;*/
/*  height:200px;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  display: block;*/
/*  border: 10px solid black;*/
/*  left:100px;*/
/*  top:100px;*/
/*  padding-bottom:1px;*/
/*  padding-left:1px;*/
/*  padding-right:1px;*/
/*  padding-top:1px;*/
/*}*/
/*#tom {*/
/*  width:200px;*/
/*  height:200px;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  display: block;*/
/*  border: 10px solid black;*/
/*  left:700px;*/
/*  top:100px;*/
/*  padding-bottom:1px;*/
/*  padding-left:1px;*/
/*  padding-right:1px;*/
/*  padding-top:1px;*/
/*  float:;*/
/*}*/

h1{
  color:white;
  text-shadow: 2px 2px pink;
}
h2{
  color:white;
  margin-top: 100px;
}
/*box{*/
/*  width:100px;*/
/*  height:100px;*/
/*  color:black;*/
/*}*/
#square {
	width: 100px;
	height: 100px;
	background: red;
}
#square{
  margin-left: 100px;
}
